<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MtGoxAPIKey" value="YOUR KEY HERE" />
    <add key="MtGoxAPISecret" value="YOUR SECRET HERE" />
    <add key="DBConnection" value="Server=(local);Database=AUTOTRADE2;Trusted_Connection=True;" />
		<add key="FailoverTimeout" value="5000" />
		<add key="HTTPApiPriceDelay" value="2000" />
		<add key="HTTPApiDepthDelay" value="120000" />
		<add key="SMSNotifyContactId" value="SEND_TO_CONTACT_ID" />
		<add key="SMSNotifyDelay" value="30000" />
		<add key="SMSRenotifyPeriod" value="60000" />
		<add key="SendHubUserNumber" value="SEND_HUB_SIGNUP_PHONE_NUMBER"/>
		<add key="SendHubAPIKey" value ="SEND_HUB_API_KEY" />
  </appSettings>
</configuration>

